{% extends 'content/section-posts.twig' %}

{% block section_header %}
	<div class="section__header text--center">
		<h4>{{ __('Polecane artykuły', 'theme') }}</h4>
		<h2>{{ __('Sprawdź pozostałe artykuły na naszym blogu', 'theme') }}</h2>
	</div>
{% endblock %}
