<section class="content__section section-tags">

	<div class="viewport viewport--laptop">

		<h4>{{ __('Przeglądaj najpopularniejsze tagi', 'theme') }}</h4>
		{% include 'partials/tags-list.twig' with { 'tags' : popular_tags, 'cssClass' : false }  %}

	</div>
	<!-- /viewport -->

</section>
