<section class="content__section section-posts">
	<div class="viewport viewport--laptop">
		<ul class="posts__grid {% if grid is defined %}grid--{{ grid }}{% endif %}">
			{% for post in posts %}
				{% include 'partials/post/item.twig' with { 'cssClass' : 'grid__item item--post'} %}
			{% endfor %}
		</ul>
	</div>
</section>
