{% extends "layout/base.twig" %}

{% block body %}

	<section class="content__section section-headline text--center">
		<div class="viewport viewport--article">
			<h1>{{ __('Blog o butach. Odkryj najnowsze trendy i bądź na bieżąco z naszymi nowościami!', 'theme') }}</h1>
		</div>
	</section>

	{% include 'content/section-tags.twig' %}

	{% include 'content/section-posts.twig' with { 'posts' : posts|slice(0, 2) } %}

	{% include 'content/section-new-products.twig' %}

	{% include 'content/section-posts.twig' with { 'posts' : posts|slice(2, 5), 'grid' : 'home'} %}

	{% include 'content/section-features.twig' %}

	{% include 'content/section-posts.twig' with { 'posts' : posts|slice(7, 7), 'grid' : 'alt'} %}

	{% include 'content/section-instagram.twig' %}
	{% include 'content/section-seo.twig' %}


{% endblock %}
