{% extends "layout/base.twig" %}

{% block body %}

	<h1>hello from twig</h1>


	<div class="shop-category" data-category-id="12"></div>


	{% for product in new_products.products %}

		<li>
			<a href="{{product.link}}">{{product.name}}</a>
		</li>

	{% endfor %}

{% endblock %}
