{% extends "layout/base.twig" %}

{% block body %}

	<section class="content__section section-headline text--center">
		<div class="viewport viewport--article">
			<h1>{{ __('Blog o butach. Odkryj najnowsze trendy i bądź na bieżąco z naszymi nowościami!', 'theme') }}</h1>
		</div>
	</section>

	{% include 'content/section-tags.twig' %}

	<section class="content__section section-newest-posts">
		<div class="viewport viewport--laptop">

			<ul class="posts__grid grid--big">
				{% for post in posts %}

					{% include 'partials/post/item.twig' with { 'class' : 'grid__item item--post'} %}

				{% endfor %}
			</ul>

		</div>
		<!-- /viewport -->
	</section>

	{% include 'content/section-features.twig' %}


	{# <div class="shop-category" data-category-id="12"></div> #}


	{% include 'content/section-seo.twig' %}


{% endblock %}
