@use "../utilities/variables";

//text related modifiers and overrides for rich text <article> elements generated via WYSIWYG

//rich-text styles wrapped in "static" mixin to reuse it as .mceContentBody editore override for dashboard, see editor.scss
@mixin rich-text {
    h1,
    h2 {
        font-size: 3.5em;
        max-width: 60rem;
        margin: 2rem 0;
        text-align: center;

        @media all and (max-width: variables.$breakpoint_mobile) {
            font-size: 2.5em;
        }
    }
    h3 {
        font-size: 2em;
        font-weight: 500;
        line-height: 1.5;

        @media (max-width: variables.$breakpoint_mobile) {
            font-size: 1.75em;

            &:not(.header--no-margin) {
                margin-bottom: 1rem;
            }
        }
    }

    blockquote {
        color: variables.$black;

        margin: 2rem 0;

        border-left: 0.25rem solid blue;
        padding-left: 2rem;

        p {
            font-weight: 300;
            font-size: 1.5em;
        }

        @media (max-width: variables.$breakpoint_mobile) {
            padding-left: 1em;
            p {
                font-size: 1.25em;
            }
        }
    }

    ul,
    ol {
        list-style-type: disc;
        padding-left: 3rem;
        margin-bottom: 2rem;

        @media all and (max-width: variables.$breakpoint_mobile) {
            padding-left: 2rem;
        }
    }
    ol {
        list-style-type: decimal;
    }

    a {
        &:not(.button) {
            color: variables.$black;
            text-decoration: underline;

            @media (hover: hover) {
                &:hover {
                    color: variables.$black;
                }
            }
        }
    }

    p,
    li {
        font-weight: 300;
        line-height: 2;
        margin-bottom: 1rem;
        @media (min-width: variables.$breakpoint_mobile + 1px) {
            font-size: 1.125em;
        }
        @media (min-width: variables.$breakpoint_viewport + 1px) {
            font-size: 1.25em;
        }

        strong,
        b {
            color: variables.$black;
            font-weight: 600;
        }
    }

    li {
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
        li,
        p {
            font-size: 1em;
            margin: 1rem 0;
        }
    }

    //images
    figure {
        &:not(.ui-ico) {
            width: 100% !important; //override WordPress markup
        }
        img {
            margin-bottom: 0;
        }
        figcaption {
            font-size: 0.875em;
            color: #a3a8ac;
            margin: 0.5rem 0 1rem;
        }
    }
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

.text--rich {
    @include rich-text;
}

.text--center {
    text-align: center;
}
.text--white,
.text--white * {
    color: #fff;

    strong,
    a {
        color: #fff;
    }
}
