@use "../utilities/variables";

h1,
h2,
h3 {
    font-family: "SL", sans-serif;
    font-weight: 600; //semi-bold
    color: #000;

    &:not(.header--no-margin) {
        margin-bottom: 2rem;
    }
}

h1 {
    font-size: 4em;

    @media (max-width: variables.$breakpoint_mobile) {
        font-size: 3.5em;
    }
    @media (max-width: variables.$breakpoint_phone_big) {
        font-size: 3em;
    }
}
h2 {
    font-size: 4em;

    @media (max-width: variables.$breakpoint_phone_big) {
        font-size: 3em;
    }
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #bbb;
}

p {
    line-height: 2;
    margin-bottom: 1rem;

    @media (min-width: variables.$breakpoint_mobile + 1px) {
        font-size: 1.125em;
    }
}
