@use "../utilities/variables";

h1,
h2,
h3,
h4 {
    font-family: "SL", sans-serif;
    font-weight: 600; //semi-bold
    color: variables.$black;

    &:not(.header--no-margin) {
        margin-bottom: 2rem;
    }
}

h1 {
    font-size: 3.5em;

    @media (max-width: variables.$breakpoint_mobile) {
        font-size: 3em;
    }
    @media (max-width: variables.$breakpoint_phone_big) {
        font-size: 2em;
    }
}
h2 {
    font-size: 2em;

    @media (max-width: variables.$breakpoint_phone_big) {
        font-size: 1.5em;
    }
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.125em;
    font-weight: 600;
}

p {
    line-height: 2;
    margin-bottom: 1rem;
}
