@use "../utilities/variables";

/* UI (User Intefrace) */

/** 
 * Animated Hamburger icon inspired by https://codepen.io/fromwireframes/pen/arMrYp
 */
/* hamburger to x transformicon 
 * source: https://codepen.io/designcouch/pen/Atyop 
 */
.ui-nav {
    display: none;
    position: relative;
    width: 1.375rem;
    height: 1rem;
    margin-left: 1rem;

    @media (max-width: variables.$breakpoint_mobile) {
        display: block;
    }

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000;
        left: 0;

        transform: rotate(0deg);

        transition: all 0.25s;
        border-radius: 1px;

        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 6px;
        }
        &:nth-child(4) {
            top: 12px;
        }
    }

    &.menu--open {
        span {
            &:nth-child(1) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 6px;
                width: 0%;
                left: 50%;
            }
        }
    }
}

//inline svgs icons
.ui-ico {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: 3rem;
    margin-right: 0.5rem;

    img,
    svg {
        width: auto;
        height: 100%;
    }

    //paths, polygons, lines, rects etc controlled by additional class
    .svg__ico {
        transition: all 0.2s ease-in-out;
    }

    &.ico--flag {
        width: 2rem;
        height: 2rem;
        margin: 0;
        border-radius: 50%;
        border: 2px solid #c4c4c4;
        background: #c4c4c4;
    }
}
.ui-loader {
    text-align: center;
}

.ui-action {
    &.action--close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}
