//generic viewport class constraining content width, treat it as a equivalent of "container" helper class

@use "../utilities/variables";

.viewport {
    width: 100%;
    max-width: variables.$viewport_width;
    margin: 0 auto;

    padding-left: variables.$viewport-padding;
    padding-right: variables.$viewport-padding;

    .viewport {
        padding: 0;
    }

    &.viewport--article {
        max-width: 960px;
    }

    &.viewport--tablet {
        max-width: 1024px;
    }

    &.viewport--desktop {
        max-width: 1180px;
    }
    &.viewport--hd {
        max-width: 1280px;
    }
    &.viewport--laptop {
        max-width: 1366px;
    }
    &.viewport--laptop-big {
        max-width: 1440px;
    }

    &.viewport--no-padding {
        padding: 0;
    }

    @media all and (max-width: variables.$breakpoint_mobile) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
