@use "../utilities/variables";

.content__main {
}

.content__title {
}

.content__section {
    margin: 4rem 0;

    .section__logo {
        margin-bottom: 2rem;
        svg {
            height: 1.5rem;
        }
    }

    .section__header {
        max-width: 45rem;
        margin: 0 auto 2rem;

        h2 {
            margin: 0;

            a {
                text-decoration: none;
            }
        }
        h3 {
            font-family: "SL", sans-serif;
            font-size: 3rem;
            color: #000;

            @media (max-width: variables.$breakpoint_mobile) {
                font-size: 2.5em;
            }
        }
        p {
            margin: 1rem 0;
        }
    }

    .section__cta {
        margin-top: 2rem;
        text-align: center;
    }

    &.section--no-margin {
        margin: 0;
    }

    @media (max-width: variables.$breakpoint_mobile) {
        margin: 3rem 0;
    }
}

.section__body {
    position: relative;
    z-index: 2; //above cover
}
