@use "../utilities/variables";

footer {
    padding: 4rem 0;
    background: variables.$green;
}

.footer__logo {
    svg {
        height: 1.5rem;
        fill: variables.$gold;
    }
}

.footer__section {
    &.section--branding {
        display: grid;
        @media (min-width: variables.$breakpoint_desktop + 1px) {
            grid-template-columns: max-content auto max-content;
            align-items: center;
        }
        @media (max-width: variables.$breakpoint_desktop) {
            grid-template-columns: 1fr;
            text-align: center;

            .footer__logo {
                order: 1;
            }
            .block-social {
                order: 2;
                margin: 1rem 0;
            }
            .footer__nav {
                order: 3;
            }
        }
    }

    &.section--credits {
        max-width: 55rem;
        margin: 0 auto;
    }
}

.footer__nav {
    a {
        color: #fff;
    }

    ul {
        > li {
            display: inline-block;
            color: #fff;
            font-size: 0.75em;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
        }
    }

    @media (min-width: variables.$breakpoint_desktop + 1px) {
        ul {
            display: flex;
            justify-content: center;
            li {
                &:not(:last-child) {
                    &::after {
                        content: "\00B7";
                        margin: 0 0.5rem;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    @media (max-width: variables.$breakpoint_desktop) {
        ul {
            display: block;
            text-align: center;

            > li {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

.footer__disclaimer {
    color: #b8b8b8;
    font-size: 0.875em;
    margin: 1rem 0;

    @media (max-width: variables.$breakpoint_hd) {
        margin: 2rem 0;
    }
}
.footer__credits {
    margin: 0;
    color: #6c7251;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.1rem;

    a {
        color: #6c7251;
        text-decoration: none;
    }
}
