@use "../utilities/variables";

.header-top {
    @media (min-width: variables.$breakpoint_mobile + 1px) {
        padding: 2rem 0;
        .section--branding {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }
    }

    @media (max-width: variables.$breakpoint_mobile) {
        padding: 1rem 0;
        .section--branding {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            align-items: center;
        }
    }
}
