@use "../../utilities/variables";

.item--post {
    .post__cover {
        display: block;
        margin-bottom: 1rem;
        overflow: hidden;
        figure {
            height: inherit;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s;
        }
    }

    .post__title {
        font-family: "AG", sans-serif;
        font-size: 1.5em;
        margin-bottom: 1rem;

        @media (max-width: variables.$breakpoint_mobile) {
            font-size: 1.375em;
        }
    }

    p {
        font-size: 1em;
        line-height: 1.75;
        margin: 0;
    }

    //overrides partials/listing/_tag.scss
    .tags__list {
        .list__item {
            a {
                font-size: 0.75em;
                padding: 0.25rem 0.75rem;
            }
        }
    }

    .post__cta {
        display: none;
    }

    @media (hover: hover) {
        &:hover {
            .post__cover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

.posts__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (max-width: variables.$breakpoint_mobile) {
        grid-template-columns: 1fr;
    }

    &.grid--archive {
        > .grid__item {
            &.item--new-products,
            &.item--features {
                grid-row-start: 2;
                grid-column: 1 / -1 !important;

                .section-features {
                    margin: 0;
                }
            }
            &.item--features-extra {
                grid-row-start: 5;
                grid-column: 1 / -1 !important;
                .section-features {
                    margin: 0;
                }
            }
        }

        @media (min-width: variables.$breakpoint_mobile + 1px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: variables.$breakpoint_desktop + 1px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    // first row: 2 big items, then 3 medium items
    &.grid--home {
        @media (min-width: variables.$breakpoint_mobile + 1px) {
            grid-template-columns: repeat(6, 1fr);
            > .grid__item {
                grid-column: auto / span 3;

                .post__title {
                    font-size: 1.25em;
                }

                &:nth-child(n + 3) {
                    grid-column: auto / span 2;
                }
            }
        }
    }
    // first row: 4 small items, then 3 medium items
    &.grid--alt {
        @media (min-width: variables.$breakpoint_mobile + 1px) {
            grid-template-columns: repeat(12, 1fr);
            > .grid__item {
                grid-column: auto / span 3;

                .post__title {
                    font-size: 1.25em;
                }
                p {
                    font-size: 0.875em;
                }

                &:nth-child(n + 5) {
                    grid-column: auto / span 4;

                    p {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    &.grid--related-posts {
        @media (min-width: variables.$breakpoint_mobile + 1px) {
            grid-template-columns: 1fr 1fr 1fr;

            .post__title {
                font-size: 1.25em;
            }
        }
    }
}
