@use "../utilities/variables";

.breadcrumbs {
    @media all and (max-width: variables.$breakpoint_mobile) {
        display: none;
    }
    color: #999;
    margin: 1rem 0;
}
.breadcrumbs__list {
    li {
        display: inline-block;
        font-size: 0.75em;

        a {
            display: inline-block;
            color: #999;
            &:after {
                display: none;
            }
        }

        &:not(:last-child) {
            &:after {
                content: "/";
                display: inline-block;
                margin: 0 0.25rem;
                color: variables.$text_silver;
            }
        }

        &.item--start {
            margin-right: 0.25rem;
            &:after {
                display: none;
            }
        }

        &:last-child {
            a {
                pointer-events: none;
                &:after {
                    display: none;
                }
            }
        }
    }
}
