@use "../utilities/variables";

/**
 * markup: components/pagination.twig
 * Notice: comments pagination use default WordPress markup, styles located in components/comments.scss
 */
.pagination {
    //max-width: 30rem;
    margin: 2rem auto;

    .button {
        height: 2.5rem;
        border-radius: 0;
        padding: 0;
        max-width: 100%;
        font-size: 0.875em;
        margin-bottom: 2rem;
    }

    .pages__list {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 0.25rem;

        .item--page {
            display: flex;
            align-items: center;

            font-size: 0.875em;
            font-weight: 400;

            a {
                color: #cbcbcb;
                text-decoration: none;

                @media (hover: hover) {
                    &:hover {
                        color: #000;
                    }
                }
            }

            &.item--current {
                color: #000;
            }

            &:not(:last-child) {
                &::after {
                    content: "\00B7";
                    margin: 0 0.25rem;
                    font-weight: 400;
                    color: variables.$text_silver;
                }
            }
        }

        @media (max-width: variables.$breakpoint_mobile) {
            display: none;
        }
    }

    .pagination__nav {
        display: flex;
        justify-content: space-between;

        .nav__item {
            font-size: 0.875em;

            display: flex;
            gap: 0.5rem;
            align-items: center;

            .ui-ico {
                height: 0.875rem;
                margin: 0;
            }

            a {
                color: #000;
            }

            &.item--prev {
                .ui-ico {
                    transform: rotate(-180deg);
                }
            }
            &.item--disabled {
                color: #e2e2e2;
                .ui-ico {
                    opacity: 0.1;
                }
            }
        }
    }
}
