// @use 'utilities/variables';
// @use 'utilities/mixins';
// @use 'base/fonts';
// @use 'base/text';

// .mceContentBody {
//     @include rich-text;

//     ul {
//         list-style-type: none;
//     }
//     p,
//     li {
//         max-width: 100%;
//     }
// }
