{% extends "components/banner/default.twig" %}

{% block banner_content %}
	<div class="banner__content">
		<h1>{{ __('Masaż tajski Bielsko Biała', 'theme') }}</h1>
		<p>{{ __('Masaż tajski to skuteczny sposób na wiele dolegliwości takich jak bóle mięśni i stawów. Masaż tajski odpręża, relaksuje, uruchamia naturalne procesy samouzdrawiania organizmu oraz pielęgnuje i odżywia skórę. Zapraszamy do Yaowares Bielsko Biała na niezwykłe doświadczenie masażu tajskiego, który poprawi Twoje samopoczucie oraz urodę!', 'theme') }}</p>
	</div>
{% endblock %}
