{# template for Archive page - for posts there is no dedicated archive controller (like for CPT, i.e. archive-{CPT}.php) so we are creating one manually #}

{% extends "layout/base.twig" %}


{% block body %}

	<main class="main__content content--archive">


		<section class="content__section section-title">
			<div class="viewport">
				<div class="content__title text--center">
					<h1>{{ __('Archiwum artykułów', 'theme') }}</h1>
				</div>
			</div>
		</section>

		{% include 'content/section-tags.twig' %}

		<section class="content__section section--no-margin section-posts">

			{% include "components/breadcrumbs.twig" %}

			<div class="viewport viewport--laptop">

				<ul class="posts__grid grid--archive">
					{% for post in posts %}
						{% include 'partials/post/item.twig' with { 'class' : 'grid__item item--post'} %}
					{% endfor %}

					{# embed extra content to post grid #}
					{% if posts|length > 3 %}
						<li class="grid__item item--new-products">
							{% include 'content/section-new-products.twig' %}
						</li>
					{% endif %}
					{% if posts|length > 9 %}
						<li class="grid__item item--features-extra">
							{% include 'content/section-features.twig' %}
						</li>
					{% endif %}

				</ul>

				{% include 'components/pagination.twig' %}

			</div>
		</section>

	</main>

	<aside
		class="side__content">
		{# {% include 'content/section-nav.twig' with { 'show_archive' : false } %} #}
		{% include 'content/section-instagram.twig' %}
		{% include 'content/section-seo.twig' %}
	</aside>

{% endblock %}
