{% extends "layout/base.twig" %}

{% block body %}

	<main class="content__main content--category">

		<section class="content__title text--center">
			<h4>{{ __('Kategoria', 'theme') }}</h4>
			<h1>{{ category.name }}</h1>
		</section>

		<section class="content__section section-posts">

			{% include "components/breadcrumbs.twig" %}

			<div class="viewport viewport--laptop">
				<ul class="posts__grid grid--archive">
					{% for post in posts %}
						{% include 'partials/post/item.twig' with { 'class' : 'grid__item item--post'} %}
					{% endfor %}

					{% if posts|length > 3 %}
						<li class="grid__item item--new-products">
							{% include 'content/section-new-products.twig' %}
						</li>
					{% endif %}

				</ul>
				<!-- /posts__grid -->

				{% include 'components/pagination.twig' %}
			</div>
		</section>
	</main>

	<aside class="side__content">
		{% include 'content/section-nav.twig' with { 'show_home' : true, 'show_archive' : false } %}
		{% include 'content/section-instagram.twig' %}
		{% include 'content/section-seo.twig' %}
	</aside>

{% endblock %}
