@use "../utilities/variables";

.block-social {
    ul {
        display: flex;
        justify-content: center;
    }

    .ui-ico {
        margin: 0 0.5rem;
        svg {
            height: 1.5rem;
        }
        .svg__ico {
            fill: #000;
        }
    }

    a {
        display: flex;
        align-items: center;
    }

    .label {
        font-weight: 600;
    }

    &.block--header {
        ul {
            justify-content: flex-end;
        }
        .ui-ico {
            svg {
                height: 1.5rem;
            }
        }

        @media (min-width: variables.$breakpoint_mobile + 1px) {
            display: none;
        }
    }

    &.block--footer {
        .ui-ico {
            .svg__ico {
                fill: variables.$gold;
            }
        }
    }
}
