<header id="header-top" class="header-top">

	<div class="header__layout">

		<section class="header__section section--branding">

			<a class="ui-nav do-toggle-nav" href="#" role="button">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</a>

			{% include "components/logo.twig" with { 'cssClass' : 'header__logo' } %}

			{% include "blocks/block-social.twig" with { 'cssClass' : 'block--header' } %}
		</section>

		<section class="header__section section--nav">
			{% include "components/nav/nav-top-menu.twig" with { 'nav' : nav } %}
		</section>

	</div>

</header>
