@use "../utilities/variables";

.content--post {
    .post__title {
        text-align: center;
        margin-top: 4rem;

        @media (max-width: variables.$breakpoint_mobile) {
            margin-top: 3rem;
        }
    }
    .post__excerpt {
        font-size: 1.75em;
        color: #000;
        font-weight: 400;

        //text-align: center;

        @media (max-width: variables.$breakpoint_mobile) {
            font-size: 1.375em;
        }
    }
    .post__tags {
        .tags__list {
            justify-content: center;
        }
    }

    .section-products {
        .shop-category {
            @media (min-width: variables.$breakpoint_mobile + 1px) {
                border-top: 1px solid #e7e7e7;
                border-bottom: 1px solid #e7e7e7;
                padding: 3rem 0;
            }
        }

        &:last-child {
            .shop-category {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}
