@mixin dropdown-indicator($size, $color) {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    transition: all 0.2s ease-in-out;
    position: relative;
}

@mixin image-overlay() {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 10;
}
