@use "../utilities/variables";

.section-products {
    .section__header {
        margin-bottom: 1rem;
    }
    .section__cta {
        margin: 0 0 2rem;
    }

    .section__grid {
        @media (max-width: variables.$breakpoint_mobile) {
            display: grid;

            .section__header {
                order: 1;
            }
            .section__body {
                order: 2;
            }
            .section__cta {
                order: 3;
                margin: 1rem 0 0;
            }
        }
    }
}
