@use "../utilities/variables";

.section-features {
    margin: 1rem 0;

    .section__body {
        background: variables.$green;

        padding: 6rem;

        @media (max-width: variables.$breakpoint_hd) {
            padding: 6rem 4rem;
        }
        @media (max-width: variables.$breakpoint_mobile) {
            padding: 4rem 2rem;
        }
    }

    .section__header {
        max-width: 60rem;
        h4 {
            color: variables.$gold;
        }
        margin: 6rem 0;

        @media (max-width: variables.$breakpoint_mobile) {
            text-align: left;

            margin: 4rem 0;
        }
    }

    .features__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem 2rem;
        margin: 4rem 0;

        > li {
            max-width: 25rem;
            h3 {
                font-size: 1em;
                line-height: 1.5;
                max-width: 20rem;
                color: #bbb;
            }
            p {
                color: #878787;
                font-size: 0.875em;
                margin: 0;
            }
        }

        @media (max-width: variables.$breakpoint_hd) {
            grid-template-columns: 1fr 1fr;

            h3 {
                margin-bottom: 1rem;
            }
        }
        @media (max-width: variables.$breakpoint_phone_big) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}
