@use "../utilities/variables";

.section-instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .item--gallery {
        background: variables.$silver;

        display: grid;
        grid-template-columns: 1fr 1fr;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .item--content {
        background: variables.$pink;

        display: grid;
        align-items: center;

        .item__content {
            padding: 2rem;
            text-align: center;

            h2 {
                color: variables.$red;
                font-size: 3em;
                margin: 2rem auto;
                max-width: 30rem;

                @media (max-width: variables.$breakpoint_laptop-big) {
                    font-size: 2.5em;
                }
                @media (max-width: variables.$breakpoint_hd) and (min-width: variables.$breakpoint_mobile + 1px) {
                    font-size: 2em;
                }
            }
        }

        .item__logo {
            svg {
                height: 1.5rem;
            }
            .svg__ico {
                fill: variables.$red;
            }
        }
    }

    .section__cta {
        color: variables.$red;

        display: flex;
        justify-content: center;
        align-items: center;

        .label {
            font-size: 1.125em;
            font-weight: 500;
        }

        .ui-ico {
            flex-shrink: 0;
            .svg__ico {
                fill: variables.$red;
            }
        }
    }

    .block-social {
        ul {
            display: block;
            text-align: center;
        }

        a {
            justify-content: center;
            color: variables.$red;
        }

        .ui-ico {
            svg {
                height: 1.5rem;
            }
            .svg__ico {
                fill: variables.$red;
            }
        }
    }

    @media (max-width: variables.$breakpoint_tablet-portrait) {
        grid-template-columns: 1fr;

        .item--content {
            grid-column: auto / span 4;
            aspect-ratio: 1 / 1;
        }
    }
}
